@model IEnumerable<online_store.Models.Object_os_for_view>

<div>
    <ul class="List_objects_list_all">

       
        @foreach (var i in Model)
        {
            <li><div class="List_objects_one_object">
                    <a href=@Url.Action("Object_view","Home",new { id=i.Db.Id })>
                        <div>
                            <div>
                                @if (i.Images.Count > 0)
                                {
                                    <img src=@String.Format("data:image/gif;base64,{0}", i.Images[0]) />
                                }
                                @if (i.Images.Count == 0)
                                {
                                    <img src="/Content/images/camera_200.png" />
                                }
                            </div>
                            <p>@i.Db.Name</p>
                            <p>@i.Db.Type</p>
                            <p>@i.Db.Category</p>
                            <p>@i.Db.Manufacturer</p>
                            <p>@i.Db.Price</p>
                            <p>@i.Db.Discount</p>
                            <p>@(@i.Db.Price*(1-@i.Db.Discount))</p>
                            
                        </div>
                    </a>
                    <div>
                        <div id="Object_follow_block_all_id">
                            @Html.Action("Object_follow", "Home", new { id = i.Db.Id })
                        </div>
                        <div id="Object_add_basket_block_all_id">
                            @Html.Action("Object_add_basket", "Home", new { id = i.Db.Id })
                        </div>
                            <div>@Html.Action("Add_mark_for_object", "Home", new { id = i.Db.Id })</div>
                        </div>
                </div></li>

            
        }
    </ul>
</div>
