@model online_store.Models.Object_os_for_view

@{
    ViewBag.Title = "Object_view";
}
<script>
    function change_image(a) {
        var main_image = document.getElementById("Object_view_main_image_id");
        main_image.src =a.src;
    }



</script>

<h2>Object_view</h2>
<div>
    <div class="div_inline_block Object_view_left_block">
        <div class="Object_view_small_img_change_block div_inline_block">
            @foreach(var i in Model.Images)
            {
               
                <div class="Object_view_small_img_change">
                    <img onclick="change_image(this)" src=@String.Format("data:image/jpeg;base64," + Convert.ToBase64String(i.Image)) />
                </div>
            }

        </div>
        <div class="Object_view_main_img div_inline_block">
            @if (Model.Images.Count > 0)
            {
                
                <img id="Object_view_main_image_id" src=@String.Format("data:image/jpeg;base64," + Convert.ToBase64String(Model.Images[0].Image)) />
            }
            @if (Model.Images.Count == 0)
            {
                <img id="Object_view_main_image_id" src="/Content/images/camera_200.png" />
            }
            
        </div>

    </div>
    <div  class="div_inline_block Object_view_right_block">
        <div>@Html.Label(Model.Db.Name)</div>
        <div>@Html.Label(Model.Db.Id.ToString())</div>
        
        <div>@Html.Label(Model.Db.Type)</div>
        <div>@Html.Label(Model.Db.Category)</div>
        <div>@Html.Label(Model.Db.Manufacturer)</div>
        <div>@Html.Label(Model.Db.Price.ToString())</div>
        <div>@Html.Label(Model.Db.Discount.ToString())</div>
        <div>@Html.Label(Model.Db.Color)</div>
        <div>@Html.Label(Model.Db.Composition)</div>
        <div>@Html.Label(Model.Db.Description)</div>
        <div>@Html.Label(Model.Db.Count_buy.ToString())</div>
        

        
        



    </div>
    <div>
        <div id="Object_follow_block_all_id">
        @Html.Action("Object_follow", "Home", new { id = Model.Db.Id,click=false })</div>
        <div id="Object_add_basket_block_all_id">@Html.Action("Object_add_basket", "Home", new { id = Model.Db.Id, click = false })</div>
        <div>@Html.Action("Add_mark_for_object", "Home", new { id = Model.Db.Id })</div>
    </div>




</div>
